@font-face {
    font-display: swap;
    font-family: 'Gontserrat-Light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gontserrat-Light.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Gontserrat-Bold';
    font-style: bold;
    font-weight: 800;
    src: url('../fonts/Gontserrat-Bold.ttf');
}

.reveal-viewport{
    background: linear-gradient(270deg, #dfdfdf, #8f99f7);
    background-size: 400% 400%;

    -webkit-animation: sfondo-animato 6s ease infinite;
    -moz-animation: sfondo-animato 6s ease infinite;
    animation: sfondo-animato 6s ease infinite;
}

section {
    font-family: Gontserrat-Light;
}

@-webkit-keyframes sfondo-animato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes sfondo-animato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes sfondo-animato {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: Gontserrat-Bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase !important;
}

.slide-background {
    background: transparent url(../images/sfondo-169.svg) no-repeat top center fixed;
    background-size: cover;
}

.reveal a{
    font-weight: 600;
    color: rgb(29, 112, 228);
}

.logo {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
}

.logo > img{
    width: 120px;
    height: 120px;
}

small.source{
    font-size: 0.5em;
    opacity: 0.5;
}

ul > li{
    padding-bottom: 0.5em;
}