@font-face {
    font-display: swap;
    font-family: 'Gontserrat-Light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gontserrat-Light.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Gontserrat-Bold';
    font-style: bold;
    font-weight: 800;
    src: url('../fonts/Gontserrat-Bold.ttf');
}

section {
    font-family: Gontserrat-Light;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: Gontserrat-Bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase !important;
}

.slide-background {
    background: transparent url(../images/sfondo-169.svg) no-repeat top center fixed;
    background-size: cover;
}

.reveal a{
    font-weight: 600;
    color: rgb(29, 112, 228);
}