/* kanit-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/kanit-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kanit-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/kanit-v15-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase !important;
}

h3.title {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.reveal h3 {
    font-family: Kanit;
    color: #de2900;
}

.slide-background {
    background: linear-gradient(to bottom, #e0a885, #e5cfae);
}

.si {
    color: #1a781a;
}

.no {
    color: #b73434;
}

strong {
    font-family: Kanit;
}